# flask
flask=~=2.2
flask_limiter~=2.8
gevent~=22.10
limits[redis]~=2.7

# data
pymongo~=4.3
msgspec~=0.10

# security
python-dotenv~=0.21
bcrypt~=4.0
pyjwt~=2.6

# server
gunicorn~=20.1

# schema validation
webargs~=8.2